{% extends 'base.html' %}
{% block content %}
<div class="col-2"></div>
<div class="col-8">
<br>
<h4 align="center">
Здравствуйте!<br>
Меня зовут Ева, и я устраиваю социологический опрос молодежи на тему
<p>"Отношение московской молодежи к идеям феминизма"</p>
Прошу вас, уважаемые участники, ответить на представленные ниже вопросы.
Опрос имеет анонимный характер, и полученные данные будут использованы только в обобщенном виде.
<br><br>
<a href="{{ url_for('reg') }}"><button type="button" class="btn btn-success">Пройти опрос</button></a>
</h4>
</div>
{% endblock %}
